{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Hero section -->
<main class="">
  <!-- Hero Section -->
  <div class="hero-container">
    <div class="hero-text-wrapper">
      
    </div>
    <img src="../static/images/img3.png" alt="Main Image">

  </div>
 </main>

<!-- Features icons -->
<div class="container mt-5 mb-5">
  <div class="row text-center g-4">
    <div class="col-6 col-md-3">
      <div class="rounded-circle d-flex flex-column justify-content-center align-items-center mx-auto"
        style="width:100px; height:100px; background-color: plum;">
        <i class="fa-regular fa-truck fa-2x mb-2"></i>
        <h6 class="mb-0 w-75">Free Shipping</h6>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="rounded-circle d-flex flex-column justify-content-center align-items-center mx-auto"
        style="width:100px; height:100px;background-color: #dcc698;">
        <i class="fa-solid fa-apple-whole fa-2x mb-2"></i>
        <h6 class="mb-0 w-75">Always Fresh</h6>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="rounded-circle d-flex flex-column justify-content-center align-items-center mx-auto"
        style="width:100px; height:100px;background-color: rgb(144, 214, 179);">
        <i class="fa-solid fa-award fa-2x mb-2"></i>
        <h6 class="mb-0">Superior Quality</h6>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="rounded-circle d-flex flex-column justify-content-center align-items-center mx-auto"
        style="width:100px; height:100px;background-color: burlywood;">
        <i class="fa-regular fa-user fa-2x mb-2"></i>
        <h6 class="mb-0">Customer Service</h6>
      </div>
    </div>
  </div>
</div>

<!-- Categories -->
<div class="container mt-5">
  <div class="row text-center">
    <h2 class="mb-5">Our Products</h2>
    {% for category in categories %}
    <div class="col-6 col-md-3 mb-4">
      <div class="card shadow-sm p-3">
        {% if category.image %}
        <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.name }}">
        {% else %}
        <i class="fa-solid fa-apple-whole fa-2x"></i>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'category_products' category.id %}">{{ category.name }}</a>
          </h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- About Us -->
<div class="container mt-5 mb-5">
  <div class="row text-center mb-5">
    <h2>About Us</h2>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6">
      <img src="{% static 'images/about-img.png' %}" alt="About Image" class="img-fluid rounded">
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Email: example@gmail.com</p>
      <p>Phone: 1234567890</p>
    </div>
  </div>
</div>
{% endblock %}